@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}