@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    color: #fff;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
